%h2.text-center My activities
%ul.list-group
  - @activities.each do |activity|
    %li.list-group-item.list-group-item-action
      .row
        .col-sm-8
          %h3= activity.name
        .col-sm-2= link_to 'Edit', edit_activity_path(activity), class: 'btn btn-sm btn-outline-info'
        .col-sm-2= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger'
      .row
        .col-sm-6= render partial: 'locations', locals: {activity: activity}
        .col-sm-6= render partial: 'requirements', locals: {activity: activity}

= link_to 'New Activity', new_activity_path, class: 'btn btn-success'
 