%h2 Edit Locations
= form_for @location, url: location_path(@location), :method => :patch do |f|
	= f.label :name
	= f.text_field :name
	<br>
	= f.label :gps_latitude
	= f.text_field :gps_latitude
	<br>
	= f.label :gps_longitude
	= f.text_field :gps_longitude

	<br>
	= f.submit "Save Changes", :class => "btn btn-success"
