%h2.text-center Locations

%table.table.table-striped.text-center#dttb
	%thead
		%tr
		%th{:scope => "col"} Location
		%th{:scope => "col"} Activity
		%th{:scope => "col"} Weather
		%th{:scope => "col"} Requirements
	%tbody
		- @locations.each do |location|
			%tr
			%th{:scope => "row"} 
				= location.city.name
			%td 
				= location.activity.name
			%td 
				H:
				= location.city.humidity
				%br
				T:
				= location.city.temp
				%br
				C:
				= location.city.clouds
			%td 
				=location.activity.requirements.map(&:weather_type).join(", ")
        
        
-# .row
-# 	.col-md-12
-# 		=link_to 'New Location', new_location_path, class: 'btn btn-success', style: 'width: 200px'
				



